
/* Start Global Rules */
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Cairo", sans-serif;
  }
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* end Global Rules */
/* controls */
:root {
  --main-color: rgb(33, 150, 243);

}
/* end controls */
/* start header  */

header{
    height: 10vh;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.container{
  margin: auto;
}
.links {
  width: 50%;
  font-weight: 400;
  font-size: 18px;
}
.links ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  height: 100%;
    margin: 0;
    align-items: center;
    padding: 0;
}
.links ul li{
  position: relative;
  padding: 1.6rem 0;
  overflow: hidden;

}
.links ul li:hover{
  background-color: #eee;
}
.links ul li:hover::before{
  display: block;
  transform: translateX(-100%);

  -webkit-transform: translateX(0%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transition: transform 1s;
  -webkit-transition: transform 0.3s;
  -moz-transition: transform 1s;
  -ms-transition: transform 1s;
  -o-transition: transform 1s;
}
.links ul a {
  text-decoration: none;
  color: black;
}
.links ul li::before{
  content: "";
  width: 100%;
  background-color: var(--main-color);
  height: 4px;
  left: 0;
  top: 0;
  transform: translateX(-100%);
  position: absolute;
  display: block;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transition: transform 1s;
  -webkit-transition: transform .5 s;
  -moz-transition: transform 1 s;
  -ms-transition: transform 1 s;
  -o-transition: transform 1 s;
}
.logo a {
  color: var(--main-color);
  font-weight: 700;
  font-size: 26px;
  text-decoration: none;
}
@media screen and  (max-width:767px) {
  .container{
    max-width: 650px;
  }
  .links{
    width: 100%;
    font-size: .9rem;
  }
  header{
    height: 15vh;
  }
  header .container{
    flex-wrap: wrap;
    justify-content: center;
  }
  }
/* srart sec1  */
.sec1{
    height: 80vh;
    display: flex;
    align-items: center;
    background-color: rgb(236,236,236);
    position: relative;
}
.sec1 .container {
  display: flex;
}
.sec1 .container .hello {
  width: 45%;
}
.sec1 .container .hello h1 {
  font-size: 40px;
}
.sec1 .container .hello p {
  font-size: 23px;
  line-height: 39px;
  color: rgb(102, 102, 102);
}
.sec1 .container .helloImg {
  width: 55%;
  margin-top: -10%;
}
.sec1 .container .helloImg img {
  width: 100%;
  animation: fo2 1s alternate-reverse infinite;
  -webkit-animation: fo2 1s alternate-reverse infinite;
}
@keyframes fo2 {
    0%{
        transform: translateY(20px);
        -webkit-transform: translateY(20px);
        -moz-transform: translateY(20px);
        -ms-transform: translateY(20px);
        -o-transform: translateY(20px);
}

    100%{
        transform: translateY(-20px);
        -webkit-transform: translateY(-20px);
        -moz-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        -o-transform: translateY(-20px);
}
}
.down{
    position: absolute;
    left: 50%;
    bottom: -10%;
    font-size: 1.5rem;
    color: var(--main-color);
    font-weight: 900;
    font-size: 1.9rem;
    animation: fo2wt7t 1s  infinite;
    -webkit-animation: fo2wt7t 1s  infinite;
  z-index: 2;

}
@keyframes fo2wt7t{
    25%{
        transform: translateY(10px);
        -webkit-transform: translateY(10px);
        -moz-transform: translateY(10px);
        -ms-transform: translateY(10px);
        -o-transform: translateY(10px);
}
    50%{
        transform: translateY(0px);
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
}
    75%{
        transform: translateY(-10px);
        -webkit-transform: translateY(-10px);
        -moz-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        -o-transform: translateY(-10px);
}
    100%{
        transform: translateY(0px);
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
}

}
.sec1::after{
  content: "";
  background-color: white;
  width: 100%;
  height: 25%;
  position: absolute;
  bottom: 0;
  clip-path: polygon(0% 100%  ,100% 100%    , 100% 10%    );
}
@media (max-width:991px) {
  .sec1 .container .helloImg {
   display: none;
  }
  .sec1 .container{
    justify-content: center;
  }
  .sec1 .container .hello {
    text-align: center;
    width: 69%;
  }
}


/* 
@media screen and (max-width:1200px) {
.container{
  max-width: 1100px;
}
.links{
  width: 60%;
}
}
@media screen and (min-width:768px) and (max-width:998px){
.helloImg{
  display: none;
}
.links{
  width: 70%;
}
.container{

  max-width: 600px;
}
}
@media screen and  (max-width:767px) {
  .container{
    max-width: 650px;
  }
  .links{
    width: 100%;
    font-size: .9rem;
  }
  header{
    height: 15vh;
  }
  header .container{
    flex-wrap: wrap;
    justify-content: center;
  }
  } */