/* Start Global Rules */
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Cairo", sans-serif;
}
a {
  text-decoration: none;
  color: black;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.img img {
  width: 100%;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* end Global Rules */
/* controls */
:root {
  --main-color: rgb(33, 150, 243);
}
/* end controls */
/* start header  */

header {
  box-shadow: 0 0 15px black;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  position: relative;
}
.container {
  margin: auto;
}
.links {
  font-weight: 400;
  font-size: 18px;
}
.links ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  height: 100%;
  margin: 0;
  align-items: center;
  padding: 0;
}
.links ul li {
  position: relative;
  padding: 1.6rem 0;
  overflow: hidden;
}
.links ul li:hover {
  background-color: #eee;
}
.links ul li:hover::before {
  display: block;
  transform: translateX(-100%);
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transition: transform 0.5s;
  -webkit-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  -ms-transition: transform 0.5s;
  -o-transition: transform 0.5s;
}
.links ul a {
  color: black;
  padding: 0 1rem;
}
.links ul li::before {
  content: "";
  width: 100%;
  background-color: var(--main-color);
  height: 4px;
  left: 0;
  top: 0;
  transform: translateX(-100%);
  position: absolute;
  display: block;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transition: transform 0.5s;
  -webkit-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  -ms-transition: transform 0.5s;
  -o-transition: transform 0.5s;
}
.links ul li:last-child:hover .mega {
  background-color: aqua;
}
.logo a {
  color: var(--main-color);
  font-weight: 700;
  font-size: 26px;
}
@media screen and (max-width: 767px) {
  .container {
    max-width: 650px;
  }
  .links {
    width: 100%;
    font-size: 0.9rem;
  }

  header .container {
    flex-wrap: wrap;
    justify-content: center;
  }
}
header .container .mega {
  position: absolute;
  background-color: white;
  left: 0;
  right: 0;
  z-index: 2;
  top: 100%;
  display: flex;
  padding: 1.5rem 0;
  border-bottom: 3px solid var(--main-color);
  border-top: 2px solid #eee;
  justify-content: space-around;
  translate: 0px 22px;
}
header .container .mega ul li:hover {
  background-color: #eee;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}
header .container .mega ul li {
  padding: 0.5rem 4rem 0.5rem 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.208);
}
header .container .mega ul li:last-child {
  border-bottom: none;
  position: relative;
}
header .container .mega ul li a {
  color: var(--main-color);
  font-weight: 700;
}
header .container .mega ul li a i {
  padding: 10px;
}
header .container .mega .img {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 991px) {
  header .container .mega .img {
    display: none;
  }
}
@media (max-width: 767px) {
  header .container .mega {
    width: 100%;
    padding: 0;
    flex-direction: column;
  }
  header .container .mega ul li:last-child {
    border-bottom: 1px solid rgba(0, 0, 0, 0.208);
  }
}
header .container .mega .img img {
  width: 100%;
}
/* srart sec1  */
.sec1 {
  padding: 9rem 0;
  display: flex;
  align-items: center;
  background-color: rgb(236, 236, 236);
  position: relative;
}
.sec1 .container {
  display: flex;
}
.sec1 .container .hello {
  width: 45%;
}
.sec1 .container .hello h1 {
  font-size: 40px;
}
.sec1 .container .hello p {
  font-size: 23px;
  line-height: 39px;
  color: rgb(102, 102, 102);
}
.sec1 .container .img {
  width: 55%;
  margin-top: -10%;
}
.sec1 .container .img img {
  width: 100%;
  animation: fo2 1s alternate-reverse infinite;
  -webkit-animation: fo2 1s alternate-reverse infinite;
}
@keyframes fo2 {
  0% {
    transform: translateY(20px);
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -o-transform: translateY(20px);
  }

  100% {
    transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
  }
}
.down {
  position: absolute;
  left: 50%;
  bottom: -10%;
  font-size: 1.5rem;
  color: var(--main-color);
  font-weight: 900;
  font-size: 1.9rem;
  animation: fo2wt7t 1s infinite;
  -webkit-animation: fo2wt7t 1s infinite;
  z-index: 2;
}
@keyframes fo2wt7t {
  25% {
    transform: translateY(10px);
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
  }
  50% {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
  }
  75% {
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
  }
}
.sec1::after {
  content: "";
  background-color: white;
  width: 100%;
  height: 25%;
  position: absolute;
  bottom: 0;
  clip-path: polygon(0% 100%, 100% 100%, 100% 10%);
}
@media (max-width: 991px) {
  .sec1 .container .img {
    display: none;
  }
  .sec1 .container {
    justify-content: center;
  }
  .sec1 .container .hello {
    text-align: center;
    width: 69%;
  }
}

/* start articals */
.articals {
  padding-bottom: 10rem;
}
.container > h2 {
  text-align: center;
  padding: 8rem;
}
.articals .container .articals-cont {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.articals .container .articals-cont .card .text {
  padding: 0 1rem;
}
.articals .container .articals-cont .card .text p {
  color: rgb(119, 119, 119);
}
.articals .container .articals-cont .card .more {
  padding: 0 1rem;
  padding: 1rem;
  color: var(--main-color);
  display: flex;
  justify-content: space-between;
}
.articals .container .articals-cont .card .more a {
  color: var(--main-color);
  font-weight: 700;
}
.articals .container .articals-cont .card {
  width: 22%;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
  margin-top: 1.5rem;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.articals .container .articals-cont .card:hover {
  translate: 0 -13px;
}
.articals .container .articals-cont .card:hover i {
  translate: 4px;
  animation: ymen 0.5s infinite;
  -webkit-animation: ymen 0.5s infinite;
}
@keyframes ymen {
  50% {
    translate: 8px;
  }
  100% {
    translate: 0px;
  }
}
@media (max-width: 991px) {
  .articals .container .articals-cont .card {
    width: 30%;
  }
}
@media (max-width: 767px) {
  .articals .container .articals-cont .card {
    width: 45%;
  }
}
@media (max-width: 550px) {
  .articals .container .articals-cont .card {
    width: 90%;
    margin: auto;
  }
}

/* end articals */
/* start gallary  */
.gallary {
  background-color: #eee;
}
.gallary-photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.gallary-photos .photo {
  width: 30%;
  margin: 1rem;
  border: 10px solid white;
  overflow: hidden;
  background-color: rgb(75, 200, 220);
}
@media (max-width: 991px) {
  .gallary-photos .photo {
    width: 45%;
  }
}
@media (max-width: 767px) {
  .gallary-photos .photo {
    width: 90%;
    margin: auto;
  }
}

.gallary-photos .photo:hover img {
  scale: 1.2;
  rotate: 10deg;
}
.gallary-photos .photo img {
  width: 100%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
/* end gallary  */

/* start FEATURES */
.featuresall {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.featuresall .feature {
  width: 30%;
  text-align: center;
  padding-bottom: 2rem;
  border: 2px solid #eee;
}
@media (max-width: 991px) {
  .featuresall .feature {
    width: 47%;
    margin-top: 1rem;
  }
}
@media (max-width: 767px) {
  .featuresall .feature {
    width: 90%;
    margin: auto;
    margin-top: 1rem;
  }
}
.featuresall .feature h2 {
  font-size: 40px;
  font-weight: 700px;
  padding: 1rem;
  position: relative;
}
.featuresall .feature h2::after {
  content: "";
  position: absolute;
  width: 30%;
  height: 4px;
  /* display: block; */
  background-color: red;
  left: 35%;
  bottom: 0;
}
.featuresall .feature p {
  padding: 1rem;
  margin-bottom: 2rem;
  color: rgb(119, 119, 119);
  font-size: 20px;
}
.featuresall .feature a {
  font-size: 22px;
  color: red;
  padding: 1rem;
  font-weight: 700;
  border-radius: 10px;
  padding: 5px 26px;
  border: red 2px solid;
}

.featuresall .feature .img {
  position: relative;
  display: block;
}
.featuresall .feature .img::before {
  content: "";
  background-color: #ff002859;
  position: absolute;
  left: 0;
  right: 0;
  /* bottom: 0; */
  height: 100%;
}
.featuresall .feature .img::after {
  content: "";
  background-color: white;
  position: absolute;
  content: "";
  background-color: white;
  position: absolute;
  /* bottom: 0; */
  width: 100%;
  height: 50%;
  left: 0;
  bottom: 0;
  /* transform: skewX(-76deg); */
  clip-path: polygon(100% 0%, 0% 100%, 100% 100%);
  /* clip-path: polygon(0% 0%, 100% 0%, 100% 52%);

  /* bottom: 0; */
}
.featuresall .feature a {
  position: relative;
  z-index: 3;
  overflow: hidden;
  overflow: hidden;
  display: inline-block;
  width: 50%;
  margin: auto;
}
.featuresall .feature:hover a::before {
  translate: 100%;
}
.featuresall .feature a::before {
  content: "More";
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: red;
  width: 100%;
  height: 100%;
  left: -100%;
  top: 0;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
/* end FEATURES */
.testimonials {
  background-color: #eee;
}
.testimonials .tests{
display: flex;
flex-wrap: wrap;
justify-content: space-between;
align-items: center;
padding-bottom: 3rem;
}
.testimonials .tests .card {
  position: relative;
  background-color: white;
  width: 30%;
  padding: 1rem;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin-top: 2rem;
}
@media (max-width: 991px) {
  .testimonials .tests{
    justify-content: space-evenly;
  }
  .testimonials .tests .card {
    width: 48%;
  }
}
@media (max-width: 767px) {
  .testimonials .tests .card {
 width: 80%;
 margin: auto;
 margin-top: 1rem;
  }
}
.testimonials .tests .card::after {
  content: "";
  width: 75px;
  height: 75px;
  background-color: aqua;
  background-size: 100% 100%;
  position: absolute;
  right: -5%;
  top: -25%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 10px solid #eee;
  z-index: 23;
}
.testimonials .tests .card:nth-child(1)::after{
  background-image: url(../img/avatar-01.png);
}
.testimonials .tests .card:nth-child(2)::after{
  background-image: url(../img/avatar-02.png);
}
.testimonials .tests .card:nth-child(3)::after{
  background-image: url(../img/avatar-03.png);
}
.testimonials .tests .card:nth-child(4)::after{
  background-image: url(../img/avatar-04.png);
}
.testimonials .tests .card:nth-child(5)::after{
  background-image: url(../img/avatar-05.png);
}
.testimonials .tests .card:nth-child(6)::after{
  background-image: url(../img/avatar-06.png);
}
.testimonials .tests .card .title,
.testimonials .tests .card .about {
  color: rgb(119, 119, 119);
}
.testimonials .tests .card .rate{
  color: 
  rgb(255, 193, 7);
}

/* start Testimonials */
/* end Testimonials */
